/* based on admin/css/base.css for ..color-scheme: dark */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: inherit;
    --primary-fg: inherit;
    --body-fg: inherit;
    --body-bg: inherit;
    --body-quiet-color: inherit;
    --body-loud-color: inherit;
    --breadcrumbs-link-fg: inherit;
    --breadcrumbs-bg: inherit;
    --link-fg: inherit;
    --link-hover-color: inherit;
    --link-selected-fg: inherit;
    --hairline-color: inherit;
    --border-color: inherit;
    --error-fg: inherit;
    --message-success-bg: inherit;
    --message-warning-bg: inherit;
    --message-error-bg: inherit;
    --darkened-bg: inherit;
    --selected-bg: inherit;
    --selected-row: inherit;
    --close-button-bg: inherit;
    --close-button-hover-bg: inherit;
  }
}
